*,
html {
  padding: 0px;
}
body {
  font-family: "Courier New", Courier, monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(255, 218, 185);
  background: linear-gradient(
    90deg,
    rgba(255, 218, 185, 1) 0%,
    rgba(248, 173, 157, 1) 55%
  );
}
.main,
.results {
  width: 60%;
}

.main .input-field {
  border: 2px solid black;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0px 10px;
  background-color: white;
}

.main .input-field input {
  border: none;
  font-size: 20px;
  height: 90%;
  margin: 0;
  width: 96%;
}

button {
  border: none;
  cursor: pointer;
  background: none;
  padding: 0px;
}

button:hover * {
  fill: #ee6055;
}

.main .input-field input:focus {
  outline: none;
}

.results {
  margin: 0 auto;
  border: 1px solid black;
  padding: 0px;
  margin-top: 1.2rem;
}

.results ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.results ul li {
  padding: 1rem;
  border-bottom: 1px solid black;
  /* border-top: 1px solid black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.results-header {
  font-size: 18px;
  color: #ee6055;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 1rem;
  border-bottom: 1px solid black;
}
.results-header a {
  color: #ee6055;
  font-weight: 700;
}

.results ul li:last-of-type {
  border-bottom: none;
}

.results ul li:hover {
  background-color: #f9f9f9;
  color: #333;
}

.timestamp {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media only screen and (max-width: 767px) {
  .main,
  .results {
    width: 99%;
  }
  .results-header {
    font-size: 16px;
  }
}

.loading {
  display: none;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
